<!DOCTYPE html>
<html>
<head>
    <title>Xoralex's blog</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
